In [1]:
import pandas as pd
pd.set_option('display.max_columns', 500)
pd.options.display.float_format = '{:,}'.format

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

print('OK !')

OK !

In [2]:
df = pd.read_csv('data/testReport_level_all.csv')

df['y_2018'] = df['y_2018'].round(2)
df['y_2017'] = df['y_2017'].round(2)
df['y_score'] = df['y_score'].round(2)
df['premium_2018_Mean'] = df['premium_2018_Mean'].round(0)
df['premium_2017_Mean'] = df['premium_2017_Mean'].round(0)
df['greater_p_value'] = df['greater_p_value'].round(5)

In [3]:
cols = df.columns
df = df.sort_values(by = 'y_score',ascending = False)
df = df[(df['sample_2018_no'] >= 15) & (df['sample_2017_no'] >= 15)].reset_index()[cols]

In [4]:
cols = df.columns
level_1 = df[df['which_level'] == 1
           ].reset_index()[cols].copy()

level_1['greater_sig'].value_counts()

True     26
False     2
Name: greater_sig, dtype: int64

In [5]:
cols = ['group','sample_2018_no','sample_2017_no','y_2018','y_2017','y_score','greater_p_value','premium_2018_Mean','premium_2017_Mean']

level_1.sort_values(by = ['greater_p_value', 'y_score'], ascending=[True, False])[cols].head(20)

,group,sample_2018_no,sample_2017_no,y_2018,y_2017,y_score,greater_p_value,premium_2018_Mean,premium_2017_Mean
0,E1,2951,1359,7.53,1.41,6.13,0.0,"12,417.0","3,232.0"
1,28-38,909,364,5.36,1.92,3.44,0.0,"10,959.0","6,940.0"
2,Very Good,1217,714,7.24,3.93,3.32,0.0,"8,191.0","4,033.0"
3,Good,2471,1809,7.67,4.4,3.27,0.0,"9,158.0","4,021.0"
4,1-18,1487,1029,7.73,4.57,3.17,0.0,"5,864.0","4,405.0"
5,01 Single,3679,2294,7.13,4.08,3.05,0.0,"7,992.0","4,984.0"
6,"190,001-300,0000",812,377,5.85,2.88,2.97,0.0,"17,536.0","12,208.0"
7,"300,001+",604,226,4.18,1.5,2.68,0.0,"32,529.0","22,385.0"
8,19-27,1731,1175,10.19,7.69,2.5,0.0,"6,814.0","4,518.0"
9,F,3103,2092,5.8,3.45,2.35,0.0,"11,647.0","6,720.0"
10,Very Risk,840,834,5.55,3.26,2.3,0.0,"18,643.0","9,136.0"
11,"130,000-190,000",975,543,6.9,4.61,2.29,0.0,"12,070.0","9,074.0"
12,46-52,923,770,5.91,3.62,2.29,0.0,"15,164.0","7,074.0"
13,39-45,862,613,4.76,2.68,2.08,0.0,"13,366.0","7,010.0"
15,00 NA,1195,874,5.34,3.42,1.93,0.0,"13,771.0","7,694.0"
16,M,3821,2968,7.0,5.13,1.87,0.0,"10,358.0","6,391.0"
17,Risk,1479,1945,5.42,3.74,1.68,0.0,"19,299.0","8,725.0"
18,04 Divorce,43,44,5.53,4.05,1.48,0.0,"14,504.0","6,559.0"
19,02 Maried,1959,1816,6.38,4.97,1.41,0.0,"14,534.0","7,841.0"
20,Normal,767,1306,6.36,5.57,0.79,0.0,"15,966.0","6,725.0"

In [6]:
cols = ['group','sample_2018_no','sample_2017_no','y_2018','y_2017','y_score','greater_p_value','premium_2018_Mean','premium_2017_Mean']

level_1.sort_values(by = ['greater_p_value', 'y_score'], ascending=[False, True])[cols].head(3)

,group,sample_2018_no,sample_2017_no,y_2018,y_2017,y_score,greater_p_value,premium_2018_Mean,premium_2017_Mean
21,A2,985,364,3.71,3.06,0.64,0.832,"13,697.0","14,191.0"
24,C1,680,669,8.87,9.33,-0.46,0.071,"12,412.0","11,642.0"
14,03 Widow,48,32,7.23,5.15,2.08,0.021,"15,893.0","10,685.0"

In [7]:
cols = df.columns
level_2 = df[df['which_level'] == 2
           ].reset_index()[cols].copy()

level_2['greater_sig'].value_counts()

True     239
False     23
Name: greater_sig, dtype: int64

In [8]:
        cols = ['group','sample_2018_no','sample_2017_no','y_2018','y_2017','y_score','greater_p_value','premium_2018_Mean','premium_2017_Mean']
        level_2.sort_values(by = ['greater_p_value', 'y_score'], ascending=[True, False])[cols].head(20)

,group,sample_2018_no,sample_2017_no,y_2018,y_2017,y_score,greater_p_value,premium_2018_Mean,premium_2017_Mean
0,"88,001-130,0000_E1",421,117,10.51,1.76,8.75,0.0,"9,584.0","2,942.0"
1,C1_Good,120,42,11.17,2.49,8.69,0.0,"13,453.0","6,978.0"
2,"60,001-88,000_E1",631,306,13.48,5.03,8.45,0.0,"5,647.0","2,686.0"
3,02 Maried_E1,719,32,7.49,0.16,7.33,0.0,"19,822.0","6,089.0"
4,"130,000-190,000_E1",421,119,8.86,1.59,7.28,0.0,"13,702.0","5,155.0"
5,E1_Very Risk,262,44,7.0,0.27,6.73,0.0,"30,629.0","7,358.0"
6,F_E1,1433,394,7.43,0.73,6.69,0.0,"13,946.0","3,221.0"
7,E1_Normal,434,74,7.03,0.49,6.54,0.0,"17,531.0","3,530.0"
8,"190,001-300,0000_E1",373,100,7.36,0.95,6.41,0.0,"21,974.0","6,771.0"
9,E1_Risk,368,56,6.63,0.4,6.23,0.0,"22,362.0","6,570.0"
10,"28-38_60,001-88,000",219,87,10.55,4.54,6.01,0.0,"7,448.0","4,728.0"
11,1-18_Risk,32,106,8.46,2.46,6.0,0.0,"8,907.0","5,447.0"
13,19-27_Good,405,387,12.35,6.7,5.65,0.0,"7,738.0","2,920.0"
14,01 Single_E1,1667,1128,8.75,3.24,5.51,0.0,"7,651.0","2,992.0"
15,00 NA_E1,538,197,6.41,0.97,5.44,0.0,"16,795.0","4,094.0"
16,M_E1,1518,965,7.66,2.24,5.43,0.0,"10,974.0","3,237.0"
18,A1_Good,664,364,10.47,5.23,5.24,0.0,"7,172.0","5,942.0"
19,"300,001+_E1",275,42,5.51,0.29,5.22,0.0,"45,414.0","10,405.0"
20,02 Maried_Very Good,196,78,7.34,2.2,5.14,0.0,"11,259.0","4,905.0"
22,46-52_01 Single,148,80,7.52,2.62,4.9,0.0,"18,633.0","7,340.0"

In [9]:
cols = ['group','sample_2018_no','sample_2017_no','y_2018','y_2017','y_score','greater_p_value','premium_2018_Mean','premium_2017_Mean']
level_2.sort_values(by = ['greater_p_value', 'y_score'], ascending=[False, True])[cols].head(23)

,group,sample_2018_no,sample_2017_no,y_2018,y_2017,y_score,greater_p_value,premium_2018_Mean,premium_2017_Mean
192,"300,001+_C1",127,83,6.18,6.33,-0.15,1.0,"21,089.0","29,863.0"
133,A2_Very Risk,469,97,4.15,2.5,1.66,1.0,"12,651.0","18,800.0"
126,"190,001-300,0000_C1",124,70,9.58,7.78,1.8,1.0,"13,240.0","19,354.0"
197,00 NA_A2,157,72,2.91,3.19,-0.28,0.971,"14,061.0","16,568.0"
172,46-52_A2,207,63,3.36,2.64,0.72,0.94,"13,841.0","15,857.0"
211,53+_C1,232,230,9.79,10.8,-1.01,0.885,"20,259.0","21,268.0"
203,00 NA_C1,123,126,7.1,7.71,-0.6,0.812,"13,328.0","14,358.0"
166,M_A2,529,180,4.42,3.48,0.94,0.797,"13,860.0","14,502.0"
215,F_C1,263,275,7.2,8.51,-1.3,0.749,"10,310.0","10,788.0"
177,F_A2,456,184,3.11,2.73,0.38,0.713,"13,508.0","13,887.0"
181,39-45_A2,182,84,2.96,2.82,0.14,0.665,"14,986.0","15,589.0"
227,"88,001-130,0000_A1",356,481,6.9,9.05,-2.15,0.558,"7,108.0","7,135.0"
170,28-38_A2,133,56,2.87,2.07,0.8,0.516,"14,898.0","14,953.0"
144,01 Single_A2,221,65,3.24,1.85,1.39,0.516,"15,153.0","15,213.0"
176,02 Maried_A2,565,213,4.2,3.75,0.45,0.508,"13,113.0","13,125.0"
188,53+_A2,418,155,4.84,4.85,-0.01,0.476,"12,655.0","12,619.0"
184,"300,001+_A2",54,36,1.32,1.3,0.02,0.429,"33,215.0","32,469.0"
212,"130,000-190,000_C1",119,111,10.81,11.88,-1.07,0.259,"12,851.0","12,434.0"
216,19-27_02 Maried,35,43,9.18,10.54,-1.36,0.139,"7,485.0","6,102.0"
252,39-45_C1,91,207,4.99,10.58,-5.59,0.115,"6,828.0","6,064.0"
90,46-52_C1,225,162,10.5,7.91,2.59,0.093,"10,037.0","9,202.0"
162,"190,001-300,0000_A1",230,135,4.96,3.97,0.99,0.083,"11,459.0","10,422.0"
142,01 Single_C1,176,125,8.26,6.82,1.44,0.072,"9,835.0","8,139.0"

In [10]:
level_2[level_2['greater_sig'] == False]['group'].apply(lambda x: x.split('_')[1]).value_counts()

A2           10
C1            9
A1            2
02 Maried     1
Very Risk     1
Name: group, dtype: int64

In [11]:
print('A2')
level_2[level_2['group'].str.contains('A2')]['greater_sig'].value_counts()

print('A1')
level_2[level_2['group'].str.contains('A1',regex = False)]['greater_sig'].value_counts()

print('C1')
level_2[level_2['group'].str.contains('C1',regex = False)]['greater_sig'].value_counts()

print('E1')
level_2[level_2['group'].str.contains('E1',regex = False)]['greater_sig'].value_counts()

A2

False    11
True      6
Name: greater_sig, dtype: int64

A1

True     19
False     2
Name: greater_sig, dtype: int64

C1

True     11
False     9
Name: greater_sig, dtype: int64

E1

True    18
Name: greater_sig, dtype: int64

In [12]:
cols = df.columns
level_3 = df[df['which_level'] == 3
           ].reset_index()[cols].copy()

level_3['y_score'].describe()

level_3['greater_sig'].value_counts().sum()
level_3['greater_sig'].value_counts()

count               874.0
mean    0.507620137299771
std     3.929672221506892
min                -14.46
25%                 -1.57
50%                 1.085
75%                2.9275
max                 11.29
Name: y_score, dtype: float64

874

True     742
False    132
Name: greater_sig, dtype: int64

In [13]:
print('A2')
level_3[level_3['group'].str.contains('A2')]['greater_sig'].value_counts()

print('A1')
level_3[level_3['group'].str.contains('A1',regex = False)]['greater_sig'].value_counts()

print('C1')
level_3[level_3['group'].str.contains('C1',regex = False)]['greater_sig'].value_counts()

print('E1')
level_3[level_3['group'].str.contains('E1',regex = False)]['greater_sig'].value_counts()

A2

True     38
False    36
Name: greater_sig, dtype: int64

A1

True     84
False    37
Name: greater_sig, dtype: int64

C1

False    45
True     36
Name: greater_sig, dtype: int64

E1

True     82
False     2
Name: greater_sig, dtype: int64

In [14]:
cols = ['group','sample_2018_no','sample_2017_no','y_2018','y_2017','y_score','greater_p_value','premium_2018_Mean','premium_2017_Mean']
level_3.sort_values(by = ['greater_p_value', 'y_score'], ascending=[True, False])[cols].head(20)

,group,sample_2018_no,sample_2017_no,y_2018,y_2017,y_score,greater_p_value,premium_2018_Mean,premium_2017_Mean
0,"1-60,000_E1_Risk",51,29,15.36,4.07,11.29,0.0,"6,074.0","3,106.0"
1,01 Single_C1_Good,16,25,13.21,2.2,11.01,0.0,"12,869.0","2,853.0"
2,"F_60,001-88,000_E1",265,65,13.1,2.32,10.78,0.0,"6,171.0","2,603.0"
3,"00 NA_60,001-88,000_E1",57,21,14.39,3.73,10.66,0.0,"6,383.0","2,240.0"
4,"00 NA_88,001-130,0000_E1",80,27,12.78,2.5,10.28,0.0,"9,605.0","2,384.0"
6,"F_88,001-130,0000_E1",202,34,10.81,1.01,9.8,0.0,"10,119.0","2,947.0"
7,"28-38_1-60,000_Normal",32,20,13.15,3.56,9.59,0.0,"5,508.0","2,917.0"
8,"00 NA_1-60,000_E1",73,45,17.59,8.33,9.26,0.0,"3,715.0","1,990.0"
10,19-27_F_Good,171,112,12.49,3.93,8.56,0.0,"8,107.0","2,902.0"
11,"39-45_1-60,000_Risk",20,71,22.31,13.81,8.5,0.0,"6,370.0","4,442.0"
14,"F_130,000-190,000_E1",228,43,8.91,1.01,7.9,0.0,"14,590.0","5,258.0"
15,"M_88,001-130,0000_E1",219,83,10.22,2.53,7.7,0.0,"9,091.0","2,940.0"
16,"01 Single_60,001-88,000_Risk",64,30,14.59,7.03,7.56,0.0,"9,488.0","6,049.0"
17,"00 NA_130,000-190,000_E1",139,38,8.79,1.25,7.54,0.0,"13,479.0","3,954.0"
19,"28-38_M_60,001-88,000",139,49,12.03,4.56,7.46,0.0,"7,627.0","4,813.0"
20,"F_1-60,000_E1",389,211,13.82,6.66,7.16,0.0,"3,311.0","2,141.0"
21,F_E1_Normal,249,20,7.44,0.28,7.16,0.0,"17,863.0","4,006.0"
22,"19-27_300,001+_E1",43,19,11.63,4.58,7.05,0.0,"14,227.0","9,387.0"
24,F_C1_Good,20,17,8.16,1.18,6.98,0.0,"15,005.0","4,229.0"
25,"01 Single_130,000-190,000_E1",184,75,9.79,2.92,6.87,0.0,"11,154.0","5,404.0"

In [15]:
# cols = ['group','sample_2018_no','sample_2017_no','y_2018','y_2017','y_score','greater_p_value','premium_2018_Mean','premium_2017_Mean']
# level_3[~level_3['group'].str.contains('E1')].sort_values(by = ['greater_p_value', 'y_score'], ascending=[True, False])[cols].head(20)

In [16]:
cols = ['group','sample_2018_no','sample_2017_no','y_2018','y_2017','y_score','greater_p_value','premium_2018_Mean','premium_2017_Mean']
level_3.sort_values(by = ['greater_p_value', 'y_score'], ascending=[False, True])[cols].head(23)

,group,sample_2018_no,sample_2017_no,y_2018,y_2017,y_score,greater_p_value,premium_2018_Mean,premium_2017_Mean
851,"53+_88,001-130,0000_A1",31,166,4.77,13.59,-8.82,1.0,"5,129.0","7,383.0"
806,"02 Maried_88,001-130,0000_A1",106,242,7.84,13.21,-5.37,1.0,"5,533.0","7,196.0"
746,"39-45_88,001-130,0000_A1",46,49,8.38,11.88,-3.5,1.0,"5,543.0","7,255.0"
722,"46-52_88,001-130,0000_A1",63,94,8.49,11.33,-2.84,1.0,"5,167.0","6,957.0"
718,"46-52_130,000-190,000_C1",20,36,7.32,10.08,-2.76,1.0,"8,274.0","10,282.0"
655,53+_F_C1,87,97,8.72,10.31,-1.58,1.0,"17,170.0","20,522.0"
650,"F_300,001+_C1",58,39,4.82,6.31,-1.49,1.0,"15,455.0","27,554.0"
548,00 NA_A2_Very Risk,90,30,3.44,3.66,-0.22,1.0,"13,000.0","22,012.0"
319,M_A2_Very Risk,254,44,4.85,2.77,2.07,1.0,"12,617.0","20,651.0"
197,"F_190,001-300,0000_C1",45,17,7.84,4.75,3.1,1.0,"9,933.0","20,567.0"
481,39-45_A2_Very Risk,81,24,3.3,2.65,0.64,0.999,"13,028.0","23,188.0"
496,"M_190,001-300,0000_C1",79,53,10.45,10.01,0.43,0.998,"15,124.0","18,965.0"
414,F_A2_Very Risk,215,53,3.56,2.27,1.28,0.998,"12,691.0","17,264.0"
584,"00 NA_300,001+_C1",23,18,3.74,4.39,-0.65,0.997,"18,833.0","29,414.0"
267,"00 NA_190,001-300,0000_C1",32,22,10.61,8.05,2.55,0.997,"15,163.0","20,829.0"
762,"F_130,000-190,000_C1",47,42,8.29,12.36,-4.07,0.995,"10,818.0","13,592.0"
624,"02 Maried_300,001+_C1",57,49,7.65,8.76,-1.12,0.995,"23,932.0","30,507.0"
596,"02 Maried_190,001-300,0000_C1",48,41,8.41,9.17,-0.76,0.994,"14,964.0","18,978.0"
345,46-52_A2_Very Risk,128,22,4.24,2.41,1.83,0.994,"12,712.0","19,705.0"
581,F_00 NA_C1,56,52,6.49,7.11,-0.62,0.993,"10,779.0","14,218.0"
322,02 Maried_A2_Very Risk,274,51,4.67,2.63,2.05,0.992,"12,389.0","15,919.0"
465,"M_300,001+_C1",69,44,7.2,6.35,0.85,0.983,"25,825.0","31,910.0"
561,46-52_00 NA_A2,48,18,2.89,3.2,-0.31,0.979,"14,812.0","21,188.0"

In [17]:
def get_prod(text):
    if 'E1' in text:
        return 'E1'
    if 'A1' in text:
        return 'A1'
    if 'A2' in text:
        return 'A2'
    if 'C1' in text:
        return 'C1'
    else:
        return 'None'

level_3['prod'] = level_3['group'].apply(get_prod)

In [18]:
sig_stat = level_3.groupby('prod')['greater_sig'].describe().reset_index()

In [19]:
sig_stat

   prod count unique    top freq
0    A1   121      2   True   84
1    A2    74      2   True   38
2    C1    81      2  False   45
3    E1    84      2   True   82
4  None   514      2   True  502

In [20]:
level_3[(level_3['prod'] == 'None') & (level_3['greater_sig'] == False)]

,group,total_sample,sample_2018_no,sample_2017_no,two_sided_p_value,two_sided_t_statistic,two_sided_CI,Act_per_2018_Mean,Act_per_2017_Mean,two_sided_des,greater_p_value,greater_t_statistic,greater_CI,premium_2018_Mean,premium_2017_Mean,greater_des,y_2017,y_2018,y_score,not_equal_sig,greater_sig,which_level,prod
264,53+_01 Single_Very Risk,49,28,21,0.0,14.03,"(6.300158135313225, 8.45491407725245)",16.93,9.56,Two-Sample Welch's t-test,0.244,0.7,"(inf, 13985.827381045032)","21,617.0","18,020.0",Two-Sample Welch's t-test,5.03,7.58,2.55,True,False,3,None
266,"39-45_F_88,001-130,0000",108,77,31,0.11800000000000001,1.58,"(-0.18644428239352784, 1.6286370340807936)",9.02,8.3,Two-Sample Welch's t-test,0.175,0.94,"(inf, 1554.3538920865956)","9,656.0","9,157.0",Two-Sample Welch's t-test,3.78,6.34,2.55,False,False,3,None
271,28-38_02 Maried_Good,68,50,18,0.0,30.51,"(4.142745582010945, 4.73265785221331)",9.55,5.11,Two-Sample Welch's t-test,0.125,1.16,"(inf, 3354.6029431399656)","8,278.0","7,047.0",Two-Sample Welch's t-test,4.16,6.66,2.5,True,False,3,None
293,"28-38_00 NA_1-60,000",67,45,22,0.474,0.72,"(-0.7332287850071253, 1.558649130426322)",9.12,8.71,Two-Sample Welch's t-test,0.337,0.42,"(inf, 711.4022601127392)","4,424.0","4,300.0",Two-Sample Welch's t-test,9.93,12.26,2.33,False,False,3,None
413,"19-27_F_190,001-300,0000",85,60,25,0.7140000000000001,-0.37,"(-1.739976095125663, 1.2002436385011552)",5.3,5.57,Two-Sample Welch's t-test,0.714,-0.57,"(inf, 2634.2521406694004)","12,592.0","13,633.0",Two-Sample Welch's t-test,5.14,6.44,1.29,False,False,3,None
471,"19-27_01 Single_190,001-300,0000",126,77,49,0.13,1.53,"(-0.26385404362431863, 2.0400316252439055)",6.0,5.11,Two-Sample Welch's t-test,0.068,1.5,"(inf, 4640.163566373216)","13,606.0","11,607.0",Two-Sample Welch's t-test,6.24,7.04,0.8,False,False,3,None
540,"53+_00 NA_190,001-300,0000",78,48,30,0.121,1.57,"(-0.3145286523922681, 2.647591401975622)",8.73,7.57,Two-Sample Welch's t-test,0.117,1.2,"(inf, 6101.52233434131)","21,006.0","18,712.0",Two-Sample Welch's t-test,6.82,6.76,-0.05,False,False,3,None
622,"19-27_F_88,001-130,0000",116,64,52,0.26899999999999996,1.11,"(-0.5410742364908077, 1.9188581378622678)",6.44,5.76,Two-Sample Welch's t-test,0.225,0.76,"(inf, 1981.6377636516033)","7,110.0","6,561.0",Two-Sample Welch's t-test,7.95,6.85,-1.1,False,False,3,None
641,53+_M_01 Single,80,43,37,0.001,3.5,"(1.2432067029658973, 4.557719018657892)",10.04,7.14,Two-Sample Welch's t-test,0.234,0.73,"(inf, 7640.997090315549)","15,767.0","13,722.0",Two-Sample Welch's t-test,6.89,5.58,-1.31,True,False,3,None
660,19-27_F_Normal,86,27,59,0.0,35.41,"(4.67748931868137, 5.239386673037049)",11.58,6.62,Two-Sample Welch's t-test,0.307,0.51,"(inf, 3572.643128563663)","8,794.0","8,072.0",Two-Sample Welch's t-test,6.78,5.08,-1.7,True,False,3,None
729,"53+_00 NA_130,000-190,000",97,53,44,0.573,0.57,"(-0.8662790020980444, 1.553319920192576)",8.59,8.24,Two-Sample Welch's t-test,0.14,1.09,"(inf, 3076.754759615295)","13,890.0","12,804.0",Two-Sample Welch's t-test,9.89,6.94,-2.95,False,False,3,None
850,19-27_M_02 Maried,45,15,30,0.87,-0.16,"(-1.8592191783163643, 1.5840237837900148)",6.6,6.74,Two-Sample Welch's t-test,0.459,0.1,"(inf, 3830.1554455583446)","6,267.0","6,086.0",Two-Sample Welch's t-test,15.12,6.46,-8.66,False,False,3,None